/****** PLACE YOUR CUSTOM STYLES HERE ******/


.icon-a {
    zoom:1.5;
}
#new_text{
  color: white;
  text-decoration: bold;
  font-weight: bold;
}

.ti-facebook{
  width: 20px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}
.ti-google{

  width: 20px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;

}
.ti-twitter{
  width: 20px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}
