/****** PLACE YOUR CUSTOM STYLES HERE ******/


.icon-a {
    zoom:1.5;
}
#new_text{
  color: white;
  text-decoration: bold;
  font-weight: bold;
}

#social_icon{
  width: 20px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}



p.person-name {
  font-size: 16px;
  margin: 10px 0;
}

.single-mentor [class^="ti-"], [class*=" ti-"] {
  font-size: 16px;
}


.single-mentor {
  position: relative;
}

.single-mentor .social-overlay-list {
  position: relative;
  top: -165px;
  background: transparent;
  padding: 5px 10px;
  width: 100%;
  opacity: 0;
  transition: all .6s;
}

.single-mentor .social-overlay-list a {
  color: white;
}

.single-mentor .social-overlay-list a:hover {
  opacity: 0.5;
}

.single-mentor:hover .social-overlay-list {
  opacity: 1;
}

.single-mentor img {
  width: 100%;
  max-width: 300px;
}

.single-mentor:hover > img {
  filter: brightness(50%);
  transition: all .6s;
}
