/****** PLACE YOUR CUSTOM STYLES HERE ******/


.icon-a {
    zoom:1.5;
}
#new_text{
  color: white;
  text-decoration: bold;
  font-weight: bold;
}

.large .ti-facebook{
  width: 20px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.large .ti-twitter{
  width: 20px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

p.person-name {
  font-size: 16px;
  margin: 10px 0;
}

.single-mentor [class^="ti-"], [class*=" ti-"] {
  font-size: 16px;
}
