/****** PLACE YOUR CUSTOM STYLES HERE ******/

.icon-a {
  zoom: 1.5;
}

#new_text {
  color: #ffffff;
  text-decoration: bold;
  font-weight: bold;
}

.large .ti-facebook {
  width: 20px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}
.large .ti-twitter{

  width: 20px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.code-in-nav:before {
  content: " ";
  background-image: url("https://raw.githubusercontent.com/fossasia/gci17.fossasia.org/gh-pages/img/gci-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 16px;
  padding-top: 0px;
  font-size: 1rem;
}

.seperator {
  border-top: 1px solid #47b475 !important;
  opacity: 1 !important;
  height: 1px;
  width: 60%;
  margin: 8px auto;
}

p.person-name {
  font-size: 16px;
  margin: 10px 0;
}

.single-mentor [class^="ti-"],
[class*=" ti-"] {
  font-size: 16px;
}

.single-mentor {
  position: relative;
}

.single-mentor .social-overlay-list {
  position: relative;
  top: -165px;
  background: transparent;
  padding: 5px 10px;
  width: 100%;
  opacity: 0;
  transition: all 0.6s;
}

.single-mentor .social-overlay-list a {
  color: white;
}

.single-mentor .social-overlay-list a:hover {
  opacity: 0.5;
}

.single-mentor:hover .social-overlay-list {
  opacity: 1;
}

.single-mentor img {
  width: 240px;
  height: 240px;
  max-width: 300px;
}

.single-mentor:hover > img {
  filter: brightness(50%);
  transition: all 0.6s;
}

#contributors .single-mentor img {
  height: 120px;
}

#contributors .social-overlay-list {
  position: absolute;
  top: 40px;
}

.contributor {
  margin-bottom: 3%;
  font-size: 16px;
}

.thank_you {
  width: 100%;
  font-family: inherit;
  font-size: calc(2rem + 1vw);
  padding: 80px 4.5%;
  text-align: center;
  background: linear-gradient(90deg, rgba(227,29,59,1) 0%, rgba(41,41,41,1) 93%);
  color: rgb(255, 255, 255);
  line-height: 1.5;
  height: 195px;
  text-shadow: 2px 2px #000000;
}

.mentor-img {
  width: 240px;
}

.contribute_buttons {
  align-items: center;
  align: center;
  align-content: center;
}

.equal-row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.social-media-widget {
  margin-bottom: 5%;
  height: 300px;
  overflow: hidden;
}
 .social-media-title {
  margin-bottom: 1%;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}
 .social-media-title:hover {
  color: rgb(88, 88, 88);
}
 .view-profile {
  background-color: #3897f0;
  color: white;
  padding: 5px 12px;
  border-radius: 3px;
  position: absolute;
  bottom: 5%;
  right: 10%;
}
 .view-profile:hover {
  background-color: #083d72;
  color: white;
}
 .location-link-container {
  position: absolute;
  bottom: 20px;
  left: 10%;
  text-align: center;
  width: 50%;
}
 .location-link {
  color: grey;
  font-size: 14px;
  text-align: left;
}
 .location-link:hover {
  color: darkgray;
}

@media all and (max-width: 767px) {
  br {
    display: inline;
  }
}

#backtotop_button {
  display: inline-block;
  background-color: #1a86cc;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#backtotop_button::after {
  content: "\f148";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#backtotop_button:hover {
  cursor: pointer;
  background-color: #333;
}
#backtotop_button:active {
  background-color: #555;
}
#backtotop_button.show {
  opacity: 1;
  visibility: visible;
}
#img_project{
  display: none;
}
#map{ 
  height: 600px;
  max-width: 1000px;
  margin: auto 7.5%;
  pointer-events: none;
}
.student_name{
  font-size: 16px;
  margin-top: 5px;
  font-weight: bold;
}
.team_member_name{
  font-size: 18px;
  margin-top: 5px;
  font-weight: bold;
  padding-bottom: 20px;
}
.team_member_designation{
  font-size: 13px;
  margin-top: -45px;
  color: #fff;
  filter: brightness(100%) !important;
  font-weight: bold;
}
.team_ul{
  max-width: 240px !important;
  display: inline-block !important;
}
#memories{
  position: relative;
}
.memories_img{
  border: none;
  padding: 0px;
  margin: 0px;
  filter: brightness(50%);
  float: left;
  width: 100%;
}
.memories_img:hover{
  filter: brightness(100%);
  transition: 0.6s;
}
#memories_div{
  z-index: 1 ;
  position: absolute;
  top: 10%;
  left: 20%;
  display: inline;
}
#memories_icon{
  color: #fff;
  font-size: 4vw;
}
#memories_heading{
  color: #fff;
  font-weight: bold;
}
#memories_link{
  color: #fff ;
}
.spacing-0{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin: 0px;
    margin-top: 0px;
}
@media screen and (max-width: 768px){
  #memory4,#memory5,#memory6,#memory10,#memory11,#memory12,#memory16,#memory17,#memory18{
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  #memory5,#memory6,#memory11,#memory12,#memory17,#memory18{
    display: none;
  }
}

.student-project{
  padding: 16px;
  align-content: stretch;
  align-items: stretch;
  background-color: #fff;
  border-radius: 8px;
  box-shadow:  0 1px 2px 0 rgba(60,64,67,0.3);
  width: 295px;
  height: 260px;
  text-align: left;
  position: relative;
}

.project_btn{
  color: #fff; 
  border: none;
  width: 50% !important;
  float: left; 
}
.project_btn:visited{
  color: #fff !important; 
}
.student_project_name{
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
  color: #000 !important; 
  display: inline;
}
.student_project_info{
  font-size: 14px; 
  color: rgba(0, 0, 0, 0.54) !important;
  display: inline;
}
.student_project_footer{
  position: absolute;
  bottom: 10px;
  float: left;
  width: 90%;
}
.student_project_hr{
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.student_project_footer_container{
  display: block;
  height: 30px;
}
.popover{
  margin
}
@media screen and (max-width: 650px)
{
  .student-project{
    width: 100% !important;
  }
}
#skewed_bg{
  -ms-transform: skewX(20deg); /* IE 9 */
  -webkit-transform: skewX(20deg); /* Safari */
  transform: skewY(5deg); /* Standard syntax */
  background-color: #e31d3b;
  width:100%;
  padding:400px;
  opacity: 0.5;
  position: fixed;
  z-index: -2;
  width: 100%;
  margin-top: 270px; 
}
.student-project-creator-img{
  height: 30px;
}
.student-project-btn{
  width:100% !important;
  display: inline;
}
