/****** PLACE YOUR CUSTOM STYLES HERE ******/

.icon-a {
  zoom: 1.5;
}

#new_text {
  color: #ffffff;
  text-decoration: bold;
  font-weight: bold;
}

.large .ti-facebook {
  width: 20px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}
.large .ti-twitter{

  width: 20px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.code-in-nav:before {
  content: " ";
  background-image: url("https://raw.githubusercontent.com/fossasia/gci17.fossasia.org/gh-pages/img/gci-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 16px;
  padding-top: 0px;
  font-size: 1rem;
}

.seperator {
  border-top: 1px solid #47b475 !important;
  opacity: 1 !important;
  height: 1px;
  width: 60%;
  margin: 8px auto;
}

p.person-name {
  font-size: 16px;
  margin: 10px 0;
}

.single-mentor [class^="ti-"],
[class*=" ti-"] {
  font-size: 16px;
}

.single-mentor {
  position: relative;
}

.single-mentor .social-overlay-list {
  position: relative;
  top: -165px;
  background: transparent;
  padding: 5px 10px;
  width: 100%;
  opacity: 0;
  transition: all 0.6s;
}

.single-mentor .social-overlay-list a {
  color: white;
}

.single-mentor .social-overlay-list a:hover {
  opacity: 0.5;
}

.single-mentor:hover .social-overlay-list {
  opacity: 1;
}

.single-mentor img {
  width: 240px;
  height: 240px;
  max-width: 300px;
}

.single-mentor:hover > img {
  filter: brightness(50%);
  transition: all 0.6s;
}

#contributors .single-mentor img {
  height: 120px;
}

#contributors .social-overlay-list {
  position: absolute;
  top: 40px;
}

.contributor {
  margin-bottom: 3%;
  font-size: 16px;
}

.thank_you {
  width: 100%;
  font-family: inherit;
  font-size: calc(2rem + 1vw);
  padding: 80px 4.5%;
  text-align: center;
  background-image: linear-gradient(62deg, #47b475 0%, #e0c3fc 100%);
  color: rgb(255, 255, 255);
  line-height: 1.5;
  min-height: 195px;
  text-shadow: 2px 2px #47b475;
}

.mentor-img {
  width: 240px;
}

.contribute_buttons {
  align-items: center;
  align: center;
  align-content: center;
}

.equal-row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

@media all and (max-width: 767px) {
  br {
    display: inline;
  }
}

#backtotop_button {
  display: inline-block;
  background-color: #1a86cc;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#backtotop_button::after {
  content: "\f148";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#backtotop_button:hover {
  cursor: pointer;
  background-color: #333;
}
#backtotop_button:active {
  background-color: #555;
}
#backtotop_button.show {
  opacity: 1;
  visibility: visible;
}
#img_project{
  height: 400px;
}
#map { 
  height: 600px;
  width: 1200px;
}