@charset "utf-8";
/* CSS Document */

#social_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.lgi {
  min-width: 120px;
  padding: 20px 0;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lgi div {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  opacity: 0.8;
  margin-top: 1.2em;
  transition:
    opacity 100ms ease-in-out,
    transform 100ms ease-in-out;
}

footer .social-list {
  padding-right: 8vw;
}

@media
  (min-width: 992px) and (orientation: landscape),
  (min-width: 720px) and (orientation: portrait)
{
  
  #social_icons {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .lgi {
    flex: 1;
    min-width: 0 !important;
    white-space: nowrap;
  }

  .lgi div {
    opacity: 0;
    transform: translateY(-100%);
  }

  .lgi:hover div,
  .lgi:focus div {
    opacity: 0.8;
    transform: none;
  }
  .lgi:focus-within div {
    opacity: 0.8;
    transform: none;
  }

  /* If different elements have focus and hover,
    show label only on hovered one
    Progressive enhancement, compatible browsers:
    https://caniuse.com/#search=focus-within */
  #social_icons:focus-within:hover .lgi:not(:hover) div {
    opacity: 0;
    transform: translateY(-100%);
  }

}
