@import url(https://fonts.googleapis.com/css?family=Prompt:900);
container{
  display: flex;
  align-items: center;
  justify-content: center;
  height:5vh;
  font-size:2vw;
}

#app{
  letter-spacing:0.25em;
  text-transform:uppercase;
}
