.effect {
  font-family: 'Raleway', sans-serif;
  padding: 1em 2em;
  font-size: 18px;
   background-image: linear-gradient(to bottom right,#9999ff, #8c1aff);
  color: white;
  width: 1390px ;
  height:142px
}

h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { font-size:54px; }
h2 {
  color: white;
  font-size: 32px;
}
