<footer class="footer-1 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img alt="Logo" class="logo" src="img/logo-light.png" />
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Recent Posts</h6>
          <hr>
          <ul class="link-list recent-posts">
            <li>
              <a href="https://blog.fossasia.org/unesco-hackathon-vietnam-2018-wrap-up/">UNESCO Hackathon Vietnam Wrap-Up 2018</a>
              <span class="date">October
                <span class="number">28, 2018</span>
              </span>
            </li>
            <li>
              <a href="https://blog.fossasia.org/jugaad-fest-hyderabad-on-30th-september-2018-hack-fix-trick-or-simply-make-open-tech-work-for-you/">Jugaad Fest, Hyderabad</a>
              <span class="date">Sebtember
                <span class="number">24, 2018</span>
              </span>
            </li>
            <li>
              <a href="https://blog.fossasia.org/fossasia-summit-2018-wrap-up/">2018 Summit Wrap-Up</a>
              <span class="date">April
                <span class="number">4, 2018</span>
              </span>
            </li>
          </ul>
        </div>
        <!--end of widget-->
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Latest Updates</h6>
          <hr>
          <div class="twitter-feed">
            <div class="tweets-feed" data-feed-name="fossasia">
            </div>
          </div>
        </div>
        <!--end of widget-->
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-6">
        <span class="sub">&copy; Copyright 2016 - Medium Rare</span>
      </div>
      <div class="col-sm-6 text-right">
        <ul class="list-inline social-list">
          <li>
            <a href="https://fossasia-slack.herokuapp.com/" target="_blank" rel="noopener">
              <i class="fa-slack ti-slack" style="font-family: FontAwesome"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/fossasia" target="_blank" rel="noopener">
              <i class="ti-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ" target="_blank" rel="noopener">
              <i class="ti-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://flickr.com/photos/fossasia" target="_blank" rel="noopener">
              <i class="ti-flickr"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/fossasia/" target="_blank" rel="noopener">
              <i class="ti-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/fossasia" target="_blank" rel="noopener">
              <i class="ti-twitter-alt"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/fossasia/" target="_blank" rel="noopener">
              <i class="ti-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/groups/FOSSASIA-3762811" target="_blank" rel="noopener">
              <i class="ti-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/108920596016838318216" target="_blank" rel="noopener">
              <i class="ti-google"></i>
            </a>
          </li>
          <li>
            <a href="https://codein.withgoogle.com/organizations/fossasia/" target="_blank" rel="noopener">
              <i class="ti-settings"></i>
            </a>
          </li>
          <li>
            <a href="https://gitter.im/fossasia/fossasia" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-gitter"></i>
            </a>
          </li>
          <li>
            <a href="https://fossasia-slack.herokuapp.com/" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-slack"></i>
            </a>
          </li>
          <li>
            <a href="https://www.weibo.com/u/5784920339" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-weibo"></i>
            </a>
          </li>
          <li>
            <a href="https://vk.com/fossasia" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-vk"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--end of container-->
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/flickr.js"></script>
<script src="js/flexslider.min.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/masonry.min.js"></script>
<script src="js/twitterfetcher.min.js"></script>
<script src="js/spectragram.min.js"></script>
<script src="js/ytplayer.min.js"></script>
<script src="js/countdown.min.js"></script>
<!-- <script src="js/smooth-scroll.min.js"></script> -->
<script src="js/parallax.js"></script>
<script src="js/scripts.js"></script>
<script  src="js/thankyou.js"></script>
<script  src="js/backtotop.js"></script>
<script  src="js/custom.js"></script>

<script>
  {% for student in site.data.students %}
  {% if student.lat and student.lng %}
	  L.marker([{{student.lat}}, {{student.lng}}], {icon: studentIcon}).addTo(map).bindPopup("<b>{{student.name}}</b>");
  {% endif %}
  {% endfor %}

  {% for mentor in site.data.mentors %}
  {% if mentor.lat and mentor.lng %}
	  L.marker([{{mentor.lat}}, {{mentor.lng}}], {icon: mentorIcon}).addTo(map).bindPopup("<b>{{mentor.name}}</b>");
  {% endif %}
  {% endfor %}
</script>

</body>

</html>
