<footer class="footer-1 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img alt="Logo" class="logo" src="img/logo-light.png" />
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Recent Posts</h6>
          <hr>
          <ul class="link-list recent-posts">
            <li>
              <a href="#">Hugging pugs is super trendy</a>
              <span class="date">February
                <span class="number">14, 2015</span>
              </span>
            </li>
            <li>
              <a href="#">Spinning vinyl is oh so cool</a>
              <span class="date">February
                <span class="number">9, 2015</span>
              </span>
            </li>
            <li>
              <a href="#">Superior theme design by pros</a>
              <span class="date">January
                <span class="number">27, 2015</span>
              </span>
            </li>
          </ul>
        </div>
        <!--end of widget-->
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Latest Updates</h6>
          <hr>
          <div class="twitter-feed">
            <div class="tweets-feed" data-feed-name="mrareweb">
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              <a class="twitter-timeline" data-width="271" data-height="262" data-dnt="true" href="https://twitter.com/fossasia?ref_src=twsrc%5Etfw">Tweets by fossasia</a>
            </div>
          </div>
        </div>
        <!--end of widget-->
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Instagram</h6>
          <hr>
          <div class="instafeed" data-user-name="mrareweb">
            <ul></ul>
          </div>
        </div>
        <!--end of widget-->
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-6">
        <span class="sub">&copy; Copyright 2018 - Fossasia</span>
      </div>
      <div class="col-sm-6 text-right">
        <ul class="list-inline social-list">
          <li>
            <a href="#">
              <i class="ti-twitter-alt"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-vimeo-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--end of container-->
  <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
</footer>
</div>
<div class="modal-strip bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 overflow-hidden">
        <i class="ti-announcement icon icon-sm pull-left color-primary"></i>
        <p class="mb0 pull-left">
          <strong>Foundry 1.9.9 Update</strong> Improved page management and syncing navs in Variant - plus Twitter
          feeds are back!</p>
        <a class="btn btn-sm btn-filled mb0" href="variant/builder.html">Try Builder</a>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</div>
<!--end modal strip-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/flickr.js"></script>
<script src="js/flexslider.min.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/masonry.min.js"></script>
<script src="js/twitterfetcher.min.js"></script>
<script src="js/spectragram.min.js"></script>
<script src="js/ytplayer.min.js"></script>
<script src="js/countdown.min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/parallax.js"></script>
<script src="js/scripts.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>
